@charset "UTF-8";
/* CSS Document */

body {
  padding-top: 90px;
}

.student {
	margin-top:0.3em;
	margin-bottom:0.3em;
	width:200px;
	cursor:pointer;
	border:solid 1px #aaa;
	background-color:#f4f4f4;
	transition: background-color .3s ease;
}

.present-student {
	margin-top:0.3em;
	margin-bottom:0.3em;
	width:200px;
	border:solid 1px #000;
	border-radius:3px;
	background-color:#f4f4f4;
	transition: background-color .3s ease;
}

.present-student:hover,
.student:hover{
	background-color:#ffffff;
	transition: background-color .3s ease;
}

.col-md-10{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.row{
	display:flex;
	justify-content: center;
}

.navbar-brand{
	color: #428bca !important;
}