*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 100%;
}

#result{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    top: 0;
    color: white;
    font-size: 24px;
}

.cityInfo{
    padding-top: 60px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav{
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    position: absolute;
}

#nav-left{
    display: flex;
    flex-direction: row;
}

#nav-left a{
    height: 100%;
    display:flex;
    align-items: center;
    font-size: 32px;
    padding: 0 5px;
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

.form{
    height: 100%;
}

input{
    background: none;
    border: none;
    height: 100%;
    color: white;
    font-size: 24px;
}

input:focus{
    outline: 0;
}

input::placeholder{
    color: white;
    font-style: italic;
}

button{
    background: none;
    border: none;
    height: 100%;
    color: white;
    font-size: 24px;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: 0;
}

#nav-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav-right a{
    height: 100%;
    display:flex;
    align-items: center;
    font-size: 24px;
    padding: 0 5px;
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

h3{
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 32px;
}

.cityName, .temp, .sky, .wind, .humidity{
    display: flex;
}